@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-background-secondary: #f1f5f9;
  --color-primary: #9f2d17;
  --color-primary20: #ef1923;
  --color-primary50: #ED1C24;
  --color-primary60: #9F2D17;
  --color-primary500: #b44028;
  --color-neutral300: #d1d5db;
  --color-neutral400: #9ca3af;
  --color-neutral500: #6B7280;
  --color-neutral700: #374151;
  --color-neutral800: #1f2937;
  --color-neutral: #4b5563;
  --color-gray100: #f5f5f5;
  --color-gray200: #E5E5E5;
  --color-warning500: #f5b30b;
  --color-slate100: #F1F5F9;

  --font-oswald: var(--font-oswald);
}

:root {
  --primary: #9f2d17;
  --primary20: #ef1923;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quick-sans), Arial, sans-serif;
  @apply leading-normal text-base md:text-lg font-medium;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
